/* .special {
	width:calc(90% - 30px);
	color:rgb(115,18,105);
	border-radius:20px;
	padding:100px;
	background-image:url(../my-site-1/images/bike.png);
	background-size:contain;
	background-repeat: no-repeat;
}
p {
	color:red;
}
h1 {
	background-color: blue;
	font-size: xx-large;
	width: 25%;
	color: rgb(148, 222, 127);
	border: 8mm ridge rgba(170, 50, 220, .6);
	border-radius:10px;
	transform:rotate(0.01turn);
	
}
span{
	padding-left:50px;
} */

header {
	background-color: rgb(44, 100, 172);
}

main {
	background-image: url(/Aquarium/img/pic-main.jpg);
	width: 1440px;
	height: 768px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}

header p {
	font-size: 36px;
	color: azure;
}